.container {
    background-color: rgb(156, 205, 225);
    padding: 40px 30px;
    max-width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #613964;
}

.text {
    font-size: 28px;
    font-weight: bold;
}